.todo-item {
  background-color: #fff;
  font-size: 1.1rem;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  overflow: hidden;
}

.todo-item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.todo-item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: none;
}

.todo-item__checkbox {
  margin: 1rem;
}

.todo-item__input {
  width: 100%;
  padding: 0 10px;
  border: none;
  border-right: 1px solid #d5e4ff;
  border-left: 1px solid #d5e4ff;
  line-height: 45px;
  font-family: inherit;
  font-size: inherit;
}

.todo-item__input:focus {
  outline: none;
}

.todo-item__checkbox:checked + .todo-item__input {
  background-color: #f9f9f9;
  text-decoration: line-through;
}

.todo-item__button {
  border: none;
  padding: 0.5em;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1rem;
  color: red;
  font-weight: bold;
}
